# Byte-compiled / optimized Python files
__pycache__/
*.py[cod]

# Virtual environment
venv/
oniria_venv/
env/
*.env

# Compiled C extensions
*.so

# Dependencies
/.venv/
/.idea/
/.vscode/
pip-log.txt
pip-delete-this-directory.txt

# Other
*.log
.DS_Store
